services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    hostname: jellyfin
    networks:
      macvlan_net:
        ipv4_address: <static ip for jellyfin>
    cap_add:
      - NET_BIND_SERVICE
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: <path to data dir>
        target: <dir as seen by jellyfin>
      - type: bind
        source: ./fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: unless-stopped
    environment:
      - JELLYFIN_PublishedServerUrl=<server url>
    extra_hosts:
      - 'host.docker.internal:host-gateway'

networks:
  macvlan_net:
    external: true